body {
    font-family: var(--mainfont);
}

.header {
    padding: 57px 0px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.bar {
    display: none;
}

.list a {
    color: rgb(85, 69, 175)
}

.header .active {
    color: var(--primary);
}

.search form {
    border: 5px solid #E7E6EF;
    border-radius: 5px;
}

.search input {
    border: none;
    outline: none;
    padding-left: 9px;
    width: 250px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
}

@media screen and (max-width : 1200px) {

    .list,
    .header .search {
        display: none;
    }

    .bar {
        display: block;
    }
}
/* end header */
/*  start newslater*/

.newslater{
    background-image:url('./imag/public/Rectangle\ 102.webp') ;
    padding: 175px 0;
    text-align: center;
    
}
.newslater h2{
    margin-bottom: 50px;
    color: #151875;
    font-size:35px;
}
.shop-btn{
    transition:all .5s;
}
.shop-btn:hover {
background-color:#151875;
}


/* start clintes */
.clientes{
padding: 50px 0;
}
.clientes .row{
    flex-wrap: nowrap;
    gap: 15px;
overflow-x: auto;
}
.clientes .logo{
    width: calc((100% - 75px) / 6);
}
.clientes img{
    width : 150px;
    height: 150px;
}
@media screen and (max-width:900px) {
    .clientes .logo{
        width: calc((100% - 30px)/3);
    }
}




/* start foooter */
.footer {
    background-color: #EEEFFB;
    padding: 50px 0px;
}

.footer .row {
    gap: 30px;
}

 .footer a, .address-info {
    color: #8A8FB9;
}



.footer .left-side {
    gap: 35px;
    align-items: flex-start;
    width: calc((100%-30px)/2);
}

.footer .right-side {
    width: calc((100%-30px)/2);
}

.footer .right-side .row {
    gap: 35px;
    align-items: flex-start;
}

.footer-item {
    gap: 45px;
    width: calc((100% - 70px)/ 3);
}

@media screen and (max-width:992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .footer {
        text-align: center;
    }

    .footer-item {
        width: 100%;
    }
}

form {
    display: flex;
}