body{
    font-family:var(--mainfont);
}
.header{
    padding: 57px 0px;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap:35px;
}
.bar{
    display:none ;
}
.list a {
    color:rgb(85, 69, 175)
}
.header .active{
    color:var(--primary);
}
.search form{
    border: 5px solid #E7E6EF;
    border-radius: 5px;
}
.search input{
    border: none;
    outline: none;
    padding-left: 9px ;
    width: 250px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding:8px 13px ;
}
@media screen and (max-width : 1200px){
    .list,.search{
        display: none;
    }
     .bar{
        display: block;
    }
}